@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300;1,300&display=swap');
* {
  margin: 0;
  padding: 0;
}

*{
    font-family: 'Rosario', sans-serif;
}

a {
    text-decoration: none;
}

body {
  background-color: var(--bg-100);
  color: var(--text-100);
}

* {
  box-sizing: border-box;
}

.row {
  height: 100%;
}

.left {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: antiquewhite;
  overflow-x: hidden;
  padding-top: 20px;
  flex: 35%;
}

.left .stoic {
  padding-left: 8px;
  color: #600000;
  text-align: center;
}

.right {
  padding: 15px;
  margin-left: 20%;
}

#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 3rem;
  border: 1px solid #fff3d5;
}

#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: #600000;
  font-style: bold;
}

#myMenu li a:hover {
  background-color: #ffc18a;
}
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ffa8a8;
}

#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: #600000;
  display: block;
}

.content{
    color: #600000;
}

.title{
    text-align: center;
}

.space{
    padding-top: 1rem;
    padding-left: 4rem;
}

textarea{
    width: 100%;
    outline: none;
    border: none;
    text-align: center;
    font-size: 120%;
}

