@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #000;
  --background: #fff;
  --primary: #9D72E8;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
}
