.btn{
    background-color: var(--accent-200);
    border: none;
    padding: .75rem 1.5rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
    transform: skew(-15deg);
    cursor: pointer;

}