nav{
    background-color: var(--primary-100);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    input{
        outline: none;
        padding: .5rem 1rem;
    }
}